.title-page-top-body {
    width: 50%;
    height: 300px;
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-right: black 1px solid;
    margin-left: 25% ;
    margin-top: 20px;
    border-radius: 20px 20px 0px 0px;
    background: url("../../../pictures/s1200.jpg");

}

.title-page-down-body {
    width: 50%;
    height: 600px;
    border: black 1px solid;
    margin-left: 25% ;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
opacity: 0.9;
}